extends ../layout 
block content
    h1 Edit Your Reservation
    form(action="/products/edit"+product._id,method="post")
        .form-group
            label(for="name") Name
            input#name(type="text" class="form-control", name="name", value=product.name)
        .form-group
            label(for="seats") No. of Seats
            input#seats(type="text" class="form-control" name="seats" value=product.seats)
        .form-group
            label(for="food") Food
            input#food(type="text" class="form-control" name="food" value=product.food)    
        .form-group
            label(for="drink") Drink
            input#drink(type="text" class="form-control" name="drink" value=product.drink)    
        input(type="submit", value="Submit" class="btn btn-info")    
